name: inner_half_circle_container
description: "Create inward half-circle notches on any container edge."
version: 1.0.0
homepage: https://jsontodart.cn/
repository: https://github.com/Matkurban/inner_half_circle_container
topics: [widgets]

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
